@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --wave-mobile: url(https://res.cloudinary.com/glovoapp/image/fetch/f_svg,q_auto:low/https://glovoapp.com/images/landing/waves/top-partners-wave-mobile.svg);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.top-restaurants {
  background-clip: padding-box;
  border-bottom: 150px solid transparent;
  border-image-slice: 100 50 120;
  border-image-source: url(https://res.cloudinary.com/glovoapp/image/fetch/f_svg,q_auto:low/https://glovoapp.com/images/landing/waves/top-partners-wave-mobile.svg);
}

.jumbotron {
  background-clip: padding-box;
  border-bottom: 74px solid transparent;
  border-image-slice: 0 0 74;
  border-image-source: url(/images/address-jumbotron-wave-desktop.svg);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

img {
  max-width: 500%;
}

.scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scroll::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.rest-img {
  mask-image: url(/images/partners-mask.svg);
  mask-repeat: no-repeat;
  mask-position: center;
}

.countries {
  background-clip: padding-box;
  border-bottom: 55px solid transparent;
  border-top: 75px solid transparent;
  border-image-slice: 75 0 55;
  border-image-source: url(/images/landing-links-waves-mobile.svg);
  z-index: 30;
}

.do-it-together {
  background-clip: padding-box;
  border-top: 86px solid transparent;
  border-image-slice: 86 0 0;
  border-image-source: url(/images/corporate-wave-mobile.svg);
}

.footer {
  background-clip: padding-box;
  border-top: 74px solid transparent;
  border-image-slice: 74 0 0;
  border-image-source: url(/images/footer-wave-mobile.svg);
}

.main-home {
  background-clip: padding-box;
  border-top: 42px solid transparent;
  border-image-slice: 42 0 0;
  border-image-source: url(/images/curve-main--desktop.svg);
}

.bubble {
  border-radius: 56% 44% 45% 55%/58% 53% 47% 42%;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
